.listing {
  display: grid;
  grid-template-columns: (auto,auto,  auto);
    background: bisque;
    border-radius: 30px;
    padding-bottom: 10px ;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 20%;

  }
  .listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  .listing-photo {
    height: 250px;
    border-radius: 20px 20px 20px 20px;
    padding-top: 0%;
  }
  .listing-location {
    padding: 10px 20px 20px 20px;
  }
  .listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }