
 .head {
  display: grid;
  grid-template-columns: (auto, auto,  auto);
background-color: whitesmoke;
text-align: center;
width: 20%;
}
  img {
    padding: 5px;
    display:  inline;
    }
#form1 {
    margin: 20px;
}
  input[type="text"] {
    border: solid 1px gray;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 20%;
  }
